<ion-view id="cam">
    <ion-content overflow-scroll="true" scroll="false" >
        <section class="header">
            <img src="img/homelogo.png">
            <h3>TAKE A PICTURE</h3>
        </section>    	
		<section class="body">
            <div class="cont">
            	<div class="block tcenter">
        			<button ng-click='takePicture()' class="button">
        			<i class="flaticon-technology"></i>	&nbsp;CAMERA </button>
            	</div>           
            	<div class="block tcenter" >       
                	<button onclick="document.getElementById('uploader').click()" class="button">
                 	  <i class="flaticon-picture"></i> &nbsp;UPLOAD x
                    </button>        
                </div>
        		<input id="uploader" type="file" class="upload" accept="image/*" style="display:none;" fileread="vm.uploadme"/>

                <div class="block tcenter">        
                    <button ng-click="takePicturefromlibrary()" class="button">
                      <i class="flaticon-picture"></i> &nbsp;UPLOAD
                    </button>        
                </div>
            </div>    
		</section>

        <navbar></navbar>
    </ion-content>
</ion-view>

