<ion-view title="Filters" id="page3">
    <ion-content overflow-scroll="true" padding="false" scroll="false" class="has-header">
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div class="button-bar">
            <button id="filters-button7" class="button button-positive  button-block">1</button>
            <button id="filters-button8" class="button button-positive  button-block">2</button>
            <button id="filters-button9" class="button button-positive  button-block">3</button>
        </div>
    </ion-content>
</ion-view>