<ion-view id="filter">
    <ion-content overflow-scroll="false" padding="false" scroll="false">
        <div id="cont">
            <div id="frame">
                <img id="main" src="{{imagecopy}}">
            </div>
        </div>

        <section id="opts">
            <div class="flex">
                <div class="woman">
                    <i class='flaticon-people'></i>
                </div>
                <div class="">
                    <div class="cont nothing">   
                    	<div class="bgf"></div>                 	                    	
                    </div>
                </div>
                <div class="">
                    <div class="cont">
                    	<img src="img/WhiteWomanRight.png" class="hand r">
                    	<img src="{{image}}" class="bgf r">
                    </div>
                </div>
                <div class="">
                    <div class="cont">
                    	<img src="img/WhiteWomanLeft.png" class="hand">
                    	<img src="{{image}}" class="bgf">
                    </div>
                </div>
                <div class="">
                    <div class="cont">
                    	<img src="img/IndianWomanRight.png" class="hand r">
                    	<img src="{{image}}" class="bgf r">
                    </div>
                </div>
                <div ng-class="{'active':selhand === 'iwl'}" ng-click="changehand('iwl')">
                    <div class="cont">
                    	<img src="img/IndianWomanLeft.png" class="hand">
                    	<img src="{{image}}" class="bgf">
                    </div>
                </div>
                <div ng-class="{'active':selhand === 'bwr'}" ng-click="changehand('bwr')">
                    <div class="cont">
                    	<img src="img/BlackWomanRight.png" class="hand r">
                    	<img src="{{image}}" class="bgf r">
                    </div>
                </div>
                <div ng-class="{'active':selhand === 'bwl'}" ng-click="changehand('bwl')">
                    <div class="cont">
                    	<img src="img/BlackWomanLeft.png" class="hand">
                    	<img src="{{image}}" class="bgf">

                    </div>
                </div>
            </div>
        </section>
        <navbar></navbar>
    </ion-content>
</ion-view>