<ion-view id="filter">
    <ion-content overflow-scroll="false" padding="false" scroll="false">
        <div id="cont">
                <img id="main" src="{{imagecopy}}">
        </div>



        <section id="opts" class="man">
            <div class="flex">
                <div class="woman">
                    <i class='flaticon-black'></i>
                </div>       
            </div>
        </section>    

        <section id="opts">
            <div class="flex">
                <div class="woman">
                    <i class='flaticon-people'></i>
                </div>
                <div ng-class="{'active':selhand === 'no'}" ng-click="changehand('no')">
                    <div class="cont nothing">                       	   
                        <img src="img/marco.png" style="height:100%">
                    </div>
                </div>
                <div ng-class="{'active':selhand === 'wwr'}" ng-click="changehand('wwr')">
                    <div class="cont">
                    	<img src="img/wwr.png" class="hand r">
                    	<img src="{{image}}" class="bgf r">
                    </div>
                </div>
                <div ng-class="{'active':selhand === 'wwl'}" ng-click="changehand('wwl')">
                    <div class="cont">
                    	<img src="img/wwl.png" class="hand">
                    	<img src="{{image}}" class="bgf">
                    </div>
                </div>
                <div ng-class="{'active':selhand === 'iwr'}" ng-click="changehand('iwr')">
                    <div class="cont">
                    	<img src="img/iwr.png" class="hand r">
                    	<img src="{{image}}" class="bgf r">
                    </div>
                </div>
                <div ng-class="{'active':selhand === 'iwl'}" ng-click="changehand('iwl')">
                    <div class="cont">
                    	<img src="img/iwl.png" class="hand">
                    	<img src="{{image}}" class="bgf">
                    </div>
                </div>
                <div ng-class="{'active':selhand === 'bwr'}" ng-click="changehand('bwr')">
                    <div class="cont">
                    	<img src="img/bwr.png" class="hand r">
                    	<img src="{{image}}" class="bgf r">
                    </div>
                </div>
                <div ng-class="{'active':selhand === 'bwl'}" ng-click="changehand('bwl')">
                    <div class="cont">
                    	<img src="img/bwl.png" class="hand">
                    	<img src="{{image}}" class="bgf">

                    </div>
                </div>
            </div>
        </section>
        <navbar></navbar>
    </ion-content>
</ion-view>