<ion-view title="home" id='home' animation="no-animation">
    <ion-content overflow-scroll="true"  scroll="false">		
		<section class="body">	
			<div class="h10p">
			</div>		
			<div class="h80p">
				<img src="img/homelogo.png">

				<h1>
					AROUND THE WORD
				</h1>
				<p>
					Take a picture of a recognizable landmark in your city or country, add a card frame and take part of a worldwide experience. SAP will donate 1 Euro to the building of a SAP Business One kitchen for orphaned children in Kampala, Uganda for each shared picture.

				</p>

				<div class="flex">
					<div>
						<i class="flaticon-technology"></i>		
						<h3>TAKE A PICTURE</h3>
					</div>
					<div>
						<i class="flaticon-signs"></i>					
						<h3>EDIT YOUR PHOTO</h3>
					</div>
					<div>
						<i class="flaticon-paper"></i>			
						<h3>SEND</h3>		
					</div>
					<div>
						<i class="flaticon-social"></i>			
						<h3>SHARE</h3>
					</div>
				</div>


			</div>					
		</section>
        <a ui-sref="camera" id="home-button" class="button button-block">START  <i class="flaticon-arrows"></i></a>
    </ion-content>
</ion-view>