<ion-view id="send">
    <ion-content overflow-scroll="false" padding="false" scroll="true">
        
        <section class="header">
            <img src="img/homelogo2.png">
            <h3>REGISTER</h3>
        </section> 


        <section class="body">
            <div class="leftside">
                 
            </div>
            <div class="center">
            <div class="cont">
               <img id="main" src="{{imagecopy?imagecopy:image}}">
            </div>
            <form class="list" name="formular" ng-submit="formular.$valid && formu.conditions && alb()" novalidate>
                <input type="hidden" ng-model='formu.img'>
                <label class="item item-input">                
                    <input type="text" placeholder="FIRST NAME" ng-model='formu.names' required name="names">
                </label>
                <label class="item item-input" >                
                    <input type="text" placeholder="LAST NAME" ng-model='formu.last' required name="last">
                </label>
                <label class="item item-input">                
                    <input type="text" placeholder="COMPANY" ng-model='formu.company' required name="company">
                </label>


                <label class="item item-select">
                    <select ng-init="!formu.country?formu.country=''" ng-model="formu.country" required name="country" >
                    <option ng-selected="formu.country == 'Country'" value="">Country</option>
                    <option ng-selected="formu.country == 'Spain'" value="Spain">Spain</option>
                    <option ng-selected="formu.country == 'United States'" value="United States">United States</option>
                    <option ng-selected="formu.country == 'Afghanistan'" value="Afghanistan">Afghanistan</option>
                    <option ng-selected="formu.country == 'Åland Islands'" value="Åland Islands">Åland Islands</option>
                    <option ng-selected="formu.country == 'Albania'" value="Albania">Albania</option>
                    <option ng-selected="formu.country == 'Algeria'" value="Algeria">Algeria</option>
                    <option ng-selected="formu.country == 'American Samoa'" value="American Samoa">American Samoa</option>
                    <option ng-selected="formu.country == 'Andorra'" value="Andorra">Andorra</option>
                    <option ng-selected="formu.country == 'Angola'" value="Angola">Angola</option>
                    <option ng-selected="formu.country == 'Anguilla'" value="Anguilla">Anguilla</option>
                    <option ng-selected="formu.country == 'Antarctica'" value="Antarctica">Antarctica</option>
                    <option ng-selected="formu.country == 'Antigua and Barbuda'" value="Antigua and Barbuda">Antigua and Barbuda</option>
                    <option ng-selected="formu.country == 'Argentina'" value="Argentina">Argentina</option>
                    <option ng-selected="formu.country == 'Armenia'" value="Armenia">Armenia</option>
                    <option ng-selected="formu.country == 'Aruba'" value="Aruba">Aruba</option>
                    <option ng-selected="formu.country == 'Australia'" value="Australia">Australia</option>
                    <option ng-selected="formu.country == 'Austria'" value="Austria">Austria</option>
                    <option ng-selected="formu.country == 'Azerbaijan'" value="Azerbaijan">Azerbaijan</option>
                    <option ng-selected="formu.country == 'Bahamas'" value="Bahamas">Bahamas</option>
                    <option ng-selected="formu.country == 'Bahrain'" value="Bahrain">Bahrain</option>
                    <option ng-selected="formu.country == 'Bangladesh'" value="Bangladesh">Bangladesh</option>
                    <option ng-selected="formu.country == 'Barbados'" value="Barbados">Barbados</option>
                    <option ng-selected="formu.country == 'Belarus'" value="Belarus">Belarus</option>
                    <option ng-selected="formu.country == 'Belgium'" value="Belgium">Belgium</option>
                    <option ng-selected="formu.country == 'Belize'" value="Belize">Belize</option>
                    <option ng-selected="formu.country == 'Benin'" value="Benin">Benin</option>
                    <option ng-selected="formu.country == 'Bermuda'" value="Bermuda">Bermuda</option>
                    <option ng-selected="formu.country == 'Bhutan'" value="Bhutan">Bhutan</option>
                    <option ng-selected="formu.country == 'Bolivia'" value="Bolivia">Bolivia</option>
                    <option ng-selected="formu.country == 'Bonaire, Sint Eustatius and Saba'" value="Bonaire">Bonaire, Sint Eustatius and Saba</option>
                    <option ng-selected="formu.country == 'Bosnia and Herzegovina'" value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                    <option ng-selected="formu.country == 'Botswana'" value="Botswana">Botswana</option>
                    <option ng-selected="formu.country == 'Bouvet Island'" value="Bouvet Island">Bouvet Island</option>
                    <option ng-selected="formu.country == 'Brazil'" value="Brazil">Brazil</option>
                    <option ng-selected="formu.country == 'British Indian Ocean Territory'" value="British Indian Ocean Territory">British Indian Ocean Territory</option>
                    <option ng-selected="formu.country == 'Brunei Darussalam'" value="Brunei Darussalam">Brunei Darussalam</option>
                    <option ng-selected="formu.country == 'Bulgaria'" value="Bulgaria">Bulgaria</option>
                    <option ng-selected="formu.country == 'Burkina Faso'" value="Burkina Faso">Burkina Faso</option>
                    <option ng-selected="formu.country == 'Burundi'" value="Burundi">Burundi</option>
                    <option ng-selected="formu.country == 'Cambodia'" value="Cambodia">Cambodia</option>
                    <option ng-selected="formu.country == 'Cameroon'" value="Cameroon">Cameroon</option>
                    <option ng-selected="formu.country == 'Canada'" value="Canada">Canada</option>
                    <option ng-selected="formu.country == 'Cape Verde'" value="Cape Verde">Cape Verde</option>
                    <option ng-selected="formu.country == 'Cayman Islands'" value="Cayman Islands">Cayman Islands</option>
                    <option ng-selected="formu.country == 'Central African Republic'" value="Central African Republic">Central African Republic</option>
                    <option ng-selected="formu.country == 'Chad'" value="Chad">Chad</option>
                    <option ng-selected="formu.country == 'Chile'" value="Chile">Chile</option>
                    <option ng-selected="formu.country == 'China'" value="China">China</option>
                    <option ng-selected="formu.country == 'Christmas Island'" value="Christmas Island">Christmas Island</option>
                    <option ng-selected="formu.country == 'Cocos (Keeling) Islands'" value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
                    <option ng-selected="formu.country == 'Colombia'" value="Colombia">Colombia</option>
                    <option ng-selected="formu.country == 'Comoros'" value="Comoros">Comoros</option>
                    <option ng-selected="formu.country == 'Congo'" value="Congo">Congo</option>
                    <option ng-selected="formu.country == 'Congo, the Democratic Republic of the'" value="Congo, the Democratic Republic of the">Congo, the Democratic Republic of the</option>
                    <option ng-selected="formu.country == 'Cook Islands'" value="Cook Islands">Cook Islands</option>
                    <option ng-selected="formu.country == 'Costa Rica'" value="Costa Rica">Costa Rica</option>
                    <option ng-selected="formu.country == 'Côte d'Ivoire'" value="Côte d'Ivoire">Côte d'Ivoire</option>
                    <option ng-selected="formu.country == 'Croatia'" value="Croatia">Croatia</option>
                    <option ng-selected="formu.country == 'Cuba'" value="Cuba">Cuba</option>
                    <option ng-selected="formu.country == 'Curaçao'" value="Curaçao">Curaçao</option>
                    <option ng-selected="formu.country == 'Cyprus'" value="Cyprus">Cyprus</option>
                    <option ng-selected="formu.country == 'Czech Republic'" value="Czech Republic">Czech Republic</option>
                    <option ng-selected="formu.country == 'Denmark'" value="Denmark">Denmark</option>
                    <option ng-selected="formu.country == 'Djibouti'" value="Djibouti">Djibouti</option>
                    <option ng-selected="formu.country == 'Dominica'" value="Dominica">Dominica</option>
                    <option ng-selected="formu.country == 'Dominican Republic'" value="Dominican Republic">Dominican Republic</option>
                    <option ng-selected="formu.country == 'Ecuador'" value="Ecuador">Ecuador</option>
                    <option ng-selected="formu.country == 'Egypt'" value="Egypt">Egypt</option>
                    <option ng-selected="formu.country == 'El Salvador'" value="El Salvador">El Salvador</option>
                    <option ng-selected="formu.country == 'Equatorial Guinea'" value="Equatorial Guinea">Equatorial Guinea</option>
                    <option ng-selected="formu.country == 'Eritrea'" value="Eritrea">Eritrea</option>
                    <option ng-selected="formu.country == 'Estonia'" value="Estonia">Estonia</option>
                    <option ng-selected="formu.country == 'Ethiopia'" value="Ethiopia">Ethiopia</option>
                    <option ng-selected="formu.country == 'Falkland Islands (Malvinas)'" value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
                    <option ng-selected="formu.country == 'Faroe Islands'" value="Faroe Islands">Faroe Islands</option>
                    <option ng-selected="formu.country == 'Fiji'" value="Fiji">Fiji</option>
                    <option ng-selected="formu.country == 'Finland'" value="Finland">Finland</option>
                    <option ng-selected="formu.country == 'France'" value="France">France</option>
                    <option ng-selected="formu.country == 'French Guiana'" value="French Guiana">French Guiana</option>
                    <option ng-selected="formu.country == 'French Polynesia'" value="French Polynesia">French Polynesia</option>
                    <option ng-selected="formu.country == 'French Southern Territories'" value="French Southern Territories">French Southern Territories</option>
                    <option ng-selected="formu.country == 'Gabon'" value="Gabon">Gabon</option>
                    <option ng-selected="formu.country == 'Gambia'" value="Gambia">Gambia</option>
                    <option ng-selected="formu.country == 'Georgia'" value="Georgia">Georgia</option>
                    <option ng-selected="formu.country == 'Germany'" value="Germany">Germany</option>
                    <option ng-selected="formu.country == 'Ghana'" value="Ghana">Ghana</option>
                    <option ng-selected="formu.country == 'Gibraltar'" value="Gibraltar">Gibraltar</option>
                    <option ng-selected="formu.country == 'Greece'" value="Greece">Greece</option>
                    <option ng-selected="formu.country == 'Greenland'" value="Greenland">Greenland</option>
                    <option ng-selected="formu.country == 'Grenada'" value="Grenada">Grenada</option>
                    <option ng-selected="formu.country == 'Guadeloupe'" value="Guadeloupe">Guadeloupe</option>
                    <option ng-selected="formu.country == 'Guam'" value="Guam">Guam</option>
                    <option ng-selected="formu.country == 'Guatemala'" value="Guatemala">Guatemala</option>
                    <option ng-selected="formu.country == 'Guernsey'" value="Guernsey">Guernsey</option>
                    <option ng-selected="formu.country == 'Guinea'" value="Guinea">Guinea</option>
                    <option ng-selected="formu.country == 'Guinea-Bissau'" value=">Guinea-Bissau">Guinea-Bissau</option>
                    <option ng-selected="formu.country == 'Guyana'" value="Guyana">Guyana</option>
                    <option ng-selected="formu.country == 'Haiti'" value="Haiti">Haiti</option>
                    <option ng-selected="formu.country == 'Heard Island and McDonald Islands'" value="Heard Island and McDonald Islands">Heard Island and McDonald Islands</option>
                    <option ng-selected="formu.country == 'Holy See (Vatican City State)'" value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
                    <option ng-selected="formu.country == 'Honduras'" value="Honduras">Honduras</option>
                    <option ng-selected="formu.country == 'Hong Kong'" value="Hong Kong">Hong Kong</option>
                    <option ng-selected="formu.country == 'Hungary'" value="Hungary">Hungary</option>
                    <option ng-selected="formu.country == 'Iceland'" value="Iceland">Iceland</option>
                    <option ng-selected="formu.country == 'India'" value="India">India</option>
                    <option ng-selected="formu.country == 'Indonesia'" value="Indonesia">Indonesia</option>
                    <option ng-selected="formu.country == 'Iran, Islamic Republic of'" value="Iran, Islamic Republic of">Iran, Islamic Republic of</option>
                    <option ng-selected="formu.country == 'Iraq'" value="Iraq">Iraq</option>
                    <option ng-selected="formu.country == 'Ireland'" value="Ireland">Ireland</option>
                    <option ng-selected="formu.country == 'Isle of Man'" value="Isle of Man">Isle of Man</option>
                    <option ng-selected="formu.country == 'Israel'" value="Israel">Israel</option>
                    <option ng-selected="formu.country == 'Italy'" value="Italy">Italy</option>
                    <option ng-selected="formu.country == 'Jamaica'" value="Jamaica">Jamaica</option>
                    <option ng-selected="formu.country == 'Japan'" value="Japan">Japan</option>
                    <option ng-selected="formu.country == 'Jersey'" value="Jersey">Jersey</option>
                    <option ng-selected="formu.country == 'Jordan'" value="Jordan">Jordan</option>
                    <option ng-selected="formu.country == 'Kazakhstan'" value="Kazakhstan">Kazakhstan</option>
                    <option ng-selected="formu.country == 'Kenya'" value="Kenya">Kenya</option>
                    <option ng-selected="formu.country == 'Kiribati'" value="Kiribati">Kiribati</option>
                    <option ng-selected="formu.country == 'Korea, Democratic People's Republic of'" value="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</option>
                    <option ng-selected="formu.country == 'Korea, Republic of'" value="Korea, Republic of">Korea, Republic of</option>
                    <option ng-selected="formu.country == 'Kuwait'" value="Kuwait">Kuwait</option>
                    <option ng-selected="formu.country == 'Kyrgyzstan'" value="Kyrgyzstan">Kyrgyzstan</option>
                    <option ng-selected="formu.country == 'Lao People's Democratic Republic'" value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
                    <option ng-selected="formu.country == 'Latvia'" value="Latvia">Latvia</option>
                    <option ng-selected="formu.country == 'Lebanon'" value="Lebanon">Lebanon</option>
                    <option ng-selected="formu.country == 'Lesotho'" value="Lesotho">Lesotho</option>
                    <option ng-selected="formu.country == 'Liberia'" value="Liberia">Liberia</option>
                    <option ng-selected="formu.country == 'Libya'" value="Libya">Libya</option>
                    <option ng-selected="formu.country == 'Liechtenstein'" value="Liechtenstein">Liechtenstein</option>
                    <option ng-selected="formu.country == 'Lithuania'" value="Lithuania">Lithuania</option>
                    <option ng-selected="formu.country == 'Luxembourg'" value="Luxembourg">Luxembourg</option>
                    <option ng-selected="formu.country == 'Macao'" value="Macao">Macao</option>
                    <option ng-selected="formu.country == 'Macedonia, the former Yugoslav Republic of'" value="Macedonia, the former Yugoslav Republic of">Macedonia, the former Yugoslav Republic of</option>
                    <option ng-selected="formu.country == 'Madagascar'" value="Madagascar">Madagascar</option>
                    <option ng-selected="formu.country == 'Malawi'" value="Malawi">Malawi</option>
                    <option ng-selected="formu.country == 'Malaysia'" value="Malaysia">Malaysia</option>
                    <option ng-selected="formu.country == 'Maldives'" value="Maldives">Maldives</option>
                    <option ng-selected="formu.country == 'Mali'" value="Mali">Mali</option>
                    <option ng-selected="formu.country == 'Malta'" value="Malta">Malta</option>
                    <option ng-selected="formu.country == 'Marshall Islands'" value="Marshall Islands">Marshall Islands</option>
                    <option ng-selected="formu.country == 'Martinique'" value="Martinique">Martinique</option>
                    <option ng-selected="formu.country == 'Mauritania'" value="Mauritania">Mauritania</option>
                    <option ng-selected="formu.country == 'Mauritius'" value="Mauritius">Mauritius</option>
                    <option ng-selected="formu.country == 'Mayotte'" value="Mayotte">Mayotte</option>
                    <option ng-selected="formu.country == 'Mexico'" value="Mexico">Mexico</option>
                    <option ng-selected="formu.country == 'Micronesia, Federated States of'" value="Micronesia, Federated States of">Micronesia, Federated States of</option>
                    <option ng-selected="formu.country == 'Moldova, Republic of'" value="Moldova, Republic of">Moldova, Republic of</option>
                    <option ng-selected="formu.country == 'Monaco'" value="Monaco">Monaco</option>
                    <option ng-selected="formu.country == 'Mongolia'" value="Mongolia">Mongolia</option>
                    <option ng-selected="formu.country == 'Montenegro'" value="Montenegro">Montenegro</option>
                    <option ng-selected="formu.country == 'Montserrat'" value="Montserrat">Montserrat</option>
                    <option ng-selected="formu.country == 'Morocco'" value="Morocco">Morocco</option>
                    <option ng-selected="formu.country == 'Mozambique'" value="Mozambique">Mozambique</option>
                    <option ng-selected="formu.country == 'Myanmar'" value="Myanmar">Myanmar</option>
                    <option ng-selected="formu.country == 'Namibia'" value="Namibia">Namibia</option>
                    <option ng-selected="formu.country == 'Nauru'" value="Nauru">Nauru</option>
                    <option ng-selected="formu.country == 'Nepal'" value="Nepal">Nepal</option>
                    <option ng-selected="formu.country == 'Netherlands'" value="Netherlands">Netherlands</option>
                    <option ng-selected="formu.country == 'New Caledonia'" value="New Caledonia">New Caledonia</option>
                    <option ng-selected="formu.country == 'New Zealand'" value="New Zealand">New Zealand</option>
                    <option ng-selected="formu.country == 'Nicaragua'" value="Nicaragua">Nicaragua</option>
                    <option ng-selected="formu.country == 'Niger'" value="Niger">Niger</option>
                    <option ng-selected="formu.country == 'Nigeria'" value="Nigeria">Nigeria</option>
                    <option ng-selected="formu.country == 'Niue'" value="Niue">Niue</option>
                    <option ng-selected="formu.country == 'Norfolk Island'" value="Norfolk Island">Norfolk Island</option>
                    <option ng-selected="formu.country == 'Northern Mariana Islands'" value="Northern Mariana Islands">Northern Mariana Islands</option>
                    <option ng-selected="formu.country == 'Norway'" value="Norway">Norway</option>
                    <option ng-selected="formu.country == 'Oman'" value="Oman">Oman</option>
                    <option ng-selected="formu.country == 'Pakistan'" value="Pakistan">Pakistan</option>
                    <option ng-selected="formu.country == 'Palau'" value="Palau">Palau</option>
                    <option ng-selected="formu.country == 'Palestinian Territory, Occupied'" value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
                    <option ng-selected="formu.country == 'Panama'" value="Panama">Panama</option>
                    <option ng-selected="formu.country == 'Papua New Guinea'" value="Papua New Guinea">Papua New Guinea</option>
                    <option ng-selected="formu.country == 'Paraguay'" value="Paraguay">Paraguay</option>
                    <option ng-selected="formu.country == 'Peru'" value="Peru">Peru</option>
                    <option ng-selected="formu.country == 'Philippines'" value="Philippines">Philippines</option>
                    <option ng-selected="formu.country == 'Pitcairn'" value="Pitcairn">Pitcairn</option>
                    <option ng-selected="formu.country == 'Poland'" value="Poland">Poland</option>
                    <option ng-selected="formu.country == 'Portugal'" value="Portugal">Portugal</option>
                    <option ng-selected="formu.country == 'Puerto Rico'" value="Puerto Rico">Puerto Rico</option>
                    <option ng-selected="formu.country == 'Qatar'" value="Qatar">Qatar</option>
                    <option ng-selected="formu.country == 'Réunion'" value="Réunion">Réunion</option>
                    <option ng-selected="formu.country == 'Romania'" value="Romania">Romania</option>
                    <option ng-selected="formu.country == 'Russian Federation'" value="Russian Federation">Russian Federation</option>
                    <option ng-selected="formu.country == 'Rwanda'" value="Rwanda">Rwanda</option>
                    <option ng-selected="formu.country == 'Saint Barthélemy'" value="Saint Barthélemy">Saint Barthélemy</option>
                    <option ng-selected="formu.country == 'Saint Helena, Ascension and Tristan da Cunha'" value="Saint Helena, Ascension and Tristan da Cunha">Saint Helena, Ascension and Tristan da Cunha</option>
                    <option ng-selected="formu.country == 'Saint Kitts and Nevis'" value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                    <option ng-selected="formu.country == 'Saint Lucia'" value="Saint Lucia">Saint Lucia</option>
                    <option ng-selected="formu.country == 'Saint Martin (French part)'" value="Saint Martin (French part)">Saint Martin (French part)</option>
                    <option ng-selected="formu.country == 'Saint Pierre and Miquelon'" value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
                    <option ng-selected="formu.country == 'Saint Vincent and the Grenadines'" value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
                    <option ng-selected="formu.country == 'Samoa'" value="Samoa">Samoa</option>
                    <option ng-selected="formu.country == 'San Marino'" value="San Marino">San Marino</option>
                    <option ng-selected="formu.country == 'Sao Tome and Principe'" value="Sao Tome and Principe">Sao Tome and Principe</option>
                    <option ng-selected="formu.country == 'Saudi Arabia'" value="Saudi Arabia">Saudi Arabia</option>
                    <option ng-selected="formu.country == 'Senegal'" value="Senegal">Senegal</option>
                    <option ng-selected="formu.country == 'Serbia'" value="Serbia">Serbia</option>
                    <option ng-selected="formu.country == 'Seychelles'" value="Seychelles">Seychelles</option>
                    <option ng-selected="formu.country == 'Sierra Leone'" value="Sierra Leone">Sierra Leone</option>
                    <option ng-selected="formu.country == 'Singapore'" value="Singapore">Singapore</option>
                    <option ng-selected="formu.country == 'Sint Maarten (Dutch part)'" value="Sint Maarten (Dutch part)">Sint Maarten (Dutch part)</option>
                    <option ng-selected="formu.country == 'Slovakia'" value="Slovakia">Slovakia</option>
                    <option ng-selected="formu.country == 'Slovenia'" value="Slovenia">Slovenia</option>
                    <option ng-selected="formu.country == 'Solomon Islands'" value="Solomon Islands">Solomon Islands</option>
                    <option ng-selected="formu.country == 'Somalia'" value="Somalia">Somalia</option>
                    <option ng-selected="formu.country == 'South Africa'" value="South Africa">South Africa</option>
                    <option ng-selected="formu.country == 'South Georgia and the South Sandwich Islands'" value="South Georgia and the South Sandwich Islands">South Georgia and the South Sandwich Islands</option>
                    <option ng-selected="formu.country == 'South Sudan'" value="South Sudan">South Sudan</option>
                    <option ng-selected="formu.country == 'Spain'" value="Spain">Spain</option>
                    <option ng-selected="formu.country == 'Sri Lanka'" value="Sri Lanka">Sri Lanka</option>
                    <option ng-selected="formu.country == 'Sudan'" value="Sudan">Sudan</option>
                    <option ng-selected="formu.country == 'Suriname'" value="Suriname">Suriname</option>
                    <option ng-selected="formu.country == 'Svalbard and Jan Mayen'" value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
                    <option ng-selected="formu.country == 'Swaziland'" value="Swaziland">Swaziland</option>
                    <option ng-selected="formu.country == 'Sweden'" value="Sweden">Sweden</option>
                    <option ng-selected="formu.country == 'Switzerland'" value="Switzerland">Switzerland</option>
                    <option ng-selected="formu.country == 'Syrian Arab Republic'" value="Syrian Arab Republic">Syrian Arab Republic</option>
                    <option ng-selected="formu.country == 'Taiwan, Province of China'" value="Taiwan, Province of China">Taiwan, Province of China</option>
                    <option ng-selected="formu.country == 'Tajikistan'" value="Tajikistan">Tajikistan</option>
                    <option ng-selected="formu.country == 'Tanzania, United Republic of'" value="Tanzania, United Republic of">Tanzania, United Republic of</option>
                    <option ng-selected="formu.country == 'Thailand'" value="Thailand">Thailand</option>
                    <option ng-selected="formu.country == 'Timor-Leste'" value="Timor-Leste">Timor-Leste</option>
                    <option ng-selected="formu.country == 'Togo'" value="Togo">Togo</option>
                    <option ng-selected="formu.country == 'Tokelau'" value="Tokelau">Tokelau</option>
                    <option ng-selected="formu.country == 'Tonga'" value="Tonga">Tonga</option>
                    <option ng-selected="formu.country == 'Trinidad and Tobago'" value="Trinidad and Tobago">Trinidad and Tobago</option>
                    <option ng-selected="formu.country == 'Tunisia'" value="Tunisia">Tunisia</option>
                    <option ng-selected="formu.country == 'Turkey'" value="Turkey">Turkey</option>
                    <option ng-selected="formu.country == 'Turkmenistan'" value="Turkmenistan">Turkmenistan</option>
                    <option ng-selected="formu.country == 'Turks and Caicos Islands'" value="Turks and Caicos Islands">Turks and Caicos Islands</option>
                    <option ng-selected="formu.country == 'Tuvalu'" value="Tuvalu">Tuvalu</option>
                    <option ng-selected="formu.country == 'Uganda'" value="Uganda">Uganda</option>
                    <option ng-selected="formu.country == 'Ukraine'" value="Ukraine">Ukraine</option>
                    <option ng-selected="formu.country == 'United Arab Emirates'" value="United Arab Emirates">United Arab Emirates</option>
                    <option ng-selected="formu.country == 'United Kingdom'" value="United Kingdom">United Kingdom</option>
                    <option ng-selected="formu.country == 'United States'" value="United States">United States</option>
                    <option ng-selected="formu.country == 'United States Minor Outlying Islands'" value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
                    <option ng-selected="formu.country == 'Uruguay'" value="Uruguay">Uruguay</option>
                    <option ng-selected="formu.country == 'Uzbekistan'" value="Uzbekistan">Uzbekistan</option>
                    <option ng-selected="formu.country == 'Vanuatu'" value="Vanuatu">Vanuatu</option>
                    <option ng-selected="formu.country == 'Venezuela, Bolivarian Republic of'" value="Venezuela, Bolivarian Republic of">Venezuela, Bolivarian Republic of</option>
                    <option ng-selected="formu.country == 'Viet Nam'" value="Viet Nam">Viet Nam</option>
                    <option ng-selected="formu.country == 'Virgin Islands, British'" value="Virgin Islands, British">Virgin Islands, British</option>
                    <option ng-selected="formu.country == 'Virgin Islands, U.S.'" value="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
                    <option ng-selected="formu.country == 'Wallis and Futuna'" value="Wallis and Futuna">Wallis and Futuna</option>
                    <option ng-selected="formu.country == 'Western Sahara'" value="Western Sahara">Western Sahara</option>
                    <option ng-selected="formu.country == 'Yemen'" value="Yemen">Yemen</option>
                    <option ng-selected="formu.country == 'Zambia'" value="Zambia">Zambia</option>
                    <option ng-selected="formu.country == 'Zimbabwe'" value="Zimbabwe">Zimbabwe</option>
                </select>
                </label>


                <label class="item item-input">                
                    <input type="email" placeholder="E-MAIL" ng-model='formu.email' required name="email">
                </label>

                <label ng-show='send && !formu.conditions' >
                     <div class="err"> 
                          Please accept the terms to proceed.
                     </div>
                </label>

                <label ng-show='send && !formular.email.$valid'>
                     <div class="err"> 
                         Email address seems invalid. Please, try again.
                     </div>
                </label>

                <label ng-show='send && (!formular.names.$valid  ||  !formular.last.$valid  ||  !formular.company.$valid ||  !formular.country.$valid )'>
                     <div class="err"> 
                         Please fill in all fields.
                     </div>
                </label>


               <div class="s">
                     <ion-toggle ng-model='formu.conditions' toggle-class="toggle-energized" ng-checked="formu.conditions" name="conditions" required>
                     </ion-toggle>
                     <div class="a">
                         I accept <a class="terms" ng-click='si()'>the terms and conditions</a>
                     </div>                     
               </div>
               <div style="width:100%; text-align:center; margin-bottom: 80px; ">
               <button ng-click="send=true" type="submit" id="send-button6" style="border-radius:25px 25px 25px 25px; width:200px;" class="button button-positive">SEND</button>                    
               </div>
            </form>             
            </div>        
        </section>

        
        
    </ion-content>
    <navbar></navbar>
</ion-view>