<ion-view id="share">
    <ion-content overflow-scroll="false" padding="false" scroll="true">
        
        <section class="header">
            <img src="img/homelogo2.png">
            <h3>SHARE</h3>
        </section> 

    <div class="title">
        <h2>
            Share!
        </h2>
        <div class="cont">
                    <img id="main" src="{{imagecopy?imagecopy:image}}">
         </div>     
    </div>    



        <div class="social f">
            <div class="c">
            <div class="i">
                <i class='flaticon-social-1'></i>
            </div>
            <div class="h">
                <h3>FACEBOOK</h3>
            </div>
            <div class="btn">
                 <button>SHARE</button>
            </div>
            </div>

        </div>

        <div class="social in">
            <div class="c">
            <div class="i">
                <i class='flaticon-social-2'></i>
            </div>
            <div class="h">
                <h3>LINKEDIN</h3>
            </div>
            <div class="btn">
                 <button>SHARE</button>
            </div>
            </div>
        </div>
        
        <div class="social tw">
            <div class="c" ng-click='tw()'>
            <div class="i">
                <i class='flaticon-social-media'></i>
            </div>
            <div class="h">
                <h3>TWITTER</h3>
            </div>
            <div class="btn">
                 <button>SHARE</button>
            </div>
            </div>
        </div>
  
        
    </ion-content>
    <navbar></navbar>
</ion-view>