<div id="navbar">
	<div class="flex">
		<a class="navitem" href="#/home">
				<div class="home">
				</div>		
				<h2>HOME</h2>				
		</a>
		<a class="navitem current">
				<div class="camera"></div>				
				<h2>PHOTO</h2>							
		</a>
		<a class="navitem disabled">
				<div class="flash"></div>				
				<h2>FILTERS</h2>							
		</a>
		<a class="navitem disabled">
				<div class="send"></div>				
				<h2>PHOTO</h2>							
		</a>
		<a class="navitem disabled">
				<div class="share"></div>				
				<h2>SHARE</h2>							
		</a>
		
	</div>
</div>