<div id="navbar">
	<div class="flex {{state}}">
		<a class="navitem {{state=='home'?'current':''}}" href="#/home">
			<i class="flaticon-home"></i>		
			<h2>HOME</h2>				
		</a>
		<a class="navitem {{state=='camera'?'current':''}}" href="#/camera">
			<i class="flaticon-technology"></i>		
			<h2>PHOTO</h2>							
		</a>
		<a class="navitem {{state=='filters'?'current':(state=='camera'?'disabled':'')}}" ng-href="{{image && (state=='send' || state=='camera' || state=='share' || state=='photo')? '#/filters':'#'}}" >
			<div class="flaticon-signs"></div>					
			<h2>FILTERS</h2>							
		<a/>
		<a class="navitem {{state=='send' ? 'current':(state=='filters' || state=='camera'?'disabled':'')}}" ng-href="{{image && (state=='filters' || state=='share')? '#/send':'#'}}" ng-class="state=='filters'?'green':''">
			<i class="flaticon-paper"></i>			
			<h2>SEND</h2>							
		</a>
		<a class="navitem {{state=='share'?'current':'disabled'}}" ng-href="{{(image && state=='send' && idtoshare)?'#/share':'#'}}">
			<i class="flaticon-social"></i>			
			<h2>SHARE</h2>							
		</a>
	</div>
</div>