    /*
    Flaticon icon font: Flaticon
    Creation date: 31/03/2016 19:46
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-arrows:before { content: "\f100"; }
.flaticon-black:before { content: "\f101"; }
.flaticon-home:before { content: "\f102"; }
.flaticon-paper:before { content: "\f103"; }
.flaticon-people:before { content: "\f104"; }
.flaticon-picture:before { content: "\f105"; }
.flaticon-social:before { content: "\f106"; }
.flaticon-social-1:before { content: "\f107"; }
.flaticon-social-2:before { content: "\f108"; }
.flaticon-social-media:before { content: "\f109"; }
.flaticon-technology:before { content: "\f10a"; }
.flaticon-weather:before { content: "\f10b"; }
    
    $font-Flaticon-arrows: "\f100";
    $font-Flaticon-black: "\f101";
    $font-Flaticon-home: "\f102";
    $font-Flaticon-paper: "\f103";
    $font-Flaticon-people: "\f104";
    $font-Flaticon-picture: "\f105";
    $font-Flaticon-social: "\f106";
    $font-Flaticon-social-1: "\f107";
    $font-Flaticon-social-2: "\f108";
    $font-Flaticon-social-media: "\f109";
    $font-Flaticon-technology: "\f10a";
    $font-Flaticon-weather: "\f10b";