@font-face {
    font-family: 'OpenSans';
    src: url('opensans-regular-webfont.eot');
    src: url('opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-regular-webfont.woff2') format('woff2'),
         url('opensans-regular-webfont.woff') format('woff'),
         url('opensans-regular-webfont.ttf') format('truetype'),
         url('opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {

font-family: Flaticon;
font-size: 20px;
font-style: normal;
text-align: center;
}

.flaticon-arrows:before { content: "\f100"; }
.flaticon-black:before { content: "\f101"; }
.flaticon-home:before { content: "\f102"; }
.flaticon-paper:before { content: "\f103"; }
.flaticon-people:before { content: "\f104"; }
.flaticon-picture:before { content: "\f105"; }
.flaticon-social:before { content: "\f106"; }
.flaticon-social-1:before { content: "\f107"; }
.flaticon-social-2:before { content: "\f108"; }
.flaticon-social-media:before { content: "\f109"; }
.flaticon-technology:before { content: "\f10a"; }
.flaticon-signs:before { content: "\f10b"; }

.flaticon-signs
{ 
  font-weight: bold;
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);    /* Gecko */
  -o-transform: scaleX(-1);      /* Opera */
  -webkit-transform: scaleX(-1); /* Webkit */
  transform: scaleX(-1);         /* Standard */
  filter: FlipH;                 /* IE 6/7/8 */
}


/*****************************************************************************/

#home {
	background-image: url("../img/homebg.png");
	background-repeat: no-repeat;
    background-size: contain;
    background-color: #000;
    background-position: center;
}

#home #home-button
{   
	background-color: #f0ab00;
	position: fixed;
	bottom: 0;
	margin: 0;
	border-radius: 0;
	width: 100%;
	color: white;
	min-height: 54px;
}			

#navbar {
	background-color: #666666;
	position: absolute;	
	bottom: 0;
	left: 0;
	width: 100%;
}
#navbar div.flex{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
}

#navbar a.navitem{
	-webkit-flex: 1 1 auto;
    flex: 5;
 	padding: 5px 0;
 	text-align: center; 	
	margin: 0;
	border-right:1px solid #c8c8c8;
	text-transform: none;
	text-decoration: none;
}
#navbar a.navitem.current{
	background-color: #f0ab00;
	border: 0;
 }
 #navbar a.navitem.disabled{
	background-color: #dddddd;
 }
#navbar a.navitem:last-child{
	border:0 !important;
 }
 
 #navbar div h2 {
 	color: #fff;
 	font-size: 0.8em;
 	text-align: center;
 	margin: 0;
 	font-family: 'OpenSans';
 }
 #navbar a.navitem div
 {
 	width: 100%;
 }

#navbar a.navitem i {
	color: #fff !important;
}

#navbar a.navitem div {
	color: #fff !important;
}
 #navbar a.navitem.disabled h2,#navbar a.navitem.disabled i, #navbar a.navitem.disabled div {
 	color: #999999 !important;
 }

#cam .body { background-color: #333333; padding: 0;
display: flex; align-items: center; justify-content: center; }

#cam .cont { background-image: url('../img/bg2.png'); width: 100%; 
background-repeat: no-repeat; background-position: center; padding: 15% 0; background-size: 100%; }
#cam .tcenter { text-align: center; margin-bottom: 20px; }
#cam .tcenter button { width: 300px; border-radius: 25px;  background-color: #f0ab00; color: #fff; }
#cam .tcenter button.activated { background-color: #999999; }


#filter { background-color: #333333 }
#filter #cont { width: 100%;  height: 85%; display: flex; align-items: center; justify-content: center; }
#filter #cont #frame { position: relative;   }
#filter #cont #frame img { width: 100%; top: 0; left: 0;}


#filter #opts { position: absolute; bottom: 46px; width: 100% }

#filter #opts .flex {
background-color: #f0ab00;
display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
flex-direction: row;
}




#filter #opts .flex > div { flex: 8; height: 40px; text-align: center; padding: 4px   }
#filter #opts .flex > div > div.cont { background-color: #666666; height: 100%; background-size: 100%; background-position: center; background-repeat: no-repeat;}
#filter #opts .flex > div > div.wwr { background-image: url('../img/WhiteWomanRight.png');}
#filter #opts .flex > div > div.wwl { background-image: url('../img/WhiteWomanLeft.png');}
#filter #opts .flex > div > div.iwr { background-image: url('../img/IndianWomanRight.png');}
#filter #opts .flex > div > div.iwl { background-image: url('../img/IndianWomanLeft.png');}
#filter #opts .flex > div > div.bwr { background-image: url('../img/BlackWomanRight.png');}
#filter #opts .flex > div > div.bwl { background-image: url('../img/BlackWomanLeft.png');}

#filter #opts .flex > div.active div.cont { background-color: #f0ab00;  border: solid 1px #666666; }


